
      {% extends 'layout.j2' %} 
      {% block content %}
      <div id="text-box-title" class="instruction-title">
        Winter is coming they said...<br />
        Better get yourself a quote!
      </div>
      <div id="form-container">
        <form action="/" method="GET">
          <div class="text-box-container">
            <div class="text-box">
              <!-- <label for="search">Character / house name:</label> -->
              <input
                type="text"
                id="search"
                name="search"
                aria-label="Search character or house"
                autofocus
                required
                placeholder="Type in a character / house name"
                autocomplete="off"
                pattern="^[A-Za-z ]+$"
                value="{{ search_input }}"
                spellcheck="false"
                title="English alphabets and spaces only."
              />

              <button class="search-btn" type="submit">
                <i class="search-icon"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div id="random-btn-title" class="instruction-title">
        Extremely brave? hit the button!
      </div>
      <div class="random-btn-container">
        <button id="random-btn" type="button" onclick="location.href='/random'">
          Random
          <i class="solid-dice-icon"></i>
        </button>
      </div>
    </main>
    {% if quote %}
        <div class="quote-box">
          {% if img_url %}
            <img src="{{ img_url }}" alt="{{ char_name }}" />
          {% endif %}
          <div class="quote-and-name">
            <blockquote class="quote">{{quote}}</blockquote>
            <div class="author-name">{{char_name}}</div>
          </div>
        </div>
        {% if current_user.is_authenticated %}
          {% if current_user.favorite_quotes | selectattr("quote_id", "equalto", quote_obj.id) | list | length < 1 %}
            <button class="like-btn" name="like" type="button" onclick="add_favorite_quote('add');">LIKE</button> 
          {% else %}
            <button name="like-btn" type="button" onclick="add_favorite_quote('remove');">UNLIKE</button> 
          {% endif %}
          <div id="id_field" hidden>{{quote_obj.id}}</div>
        {% endif %}

      
    {% endif %}
    {% block script %}
    <script>
      function add_favorite_quote(action){
        var quote_id = document.getElementById("id_field").textContent;
        var entry = {
          quote: quote_id
        };
        
          fetch(`${window.origin}/add-favorite-quote/${action}`, {
            method: 'POST',
            credentials: 'include',
            body: JSON.stringify(entry),
            cache: 'no-cache',
            headers: new Headers({
              'content-type': 'application/json'
            })
        })
        .then(function (response){
          if (response.status !== 200) {
            alert("You already clicked this button :)")
            console.log(`Response status is not 200: ${response.status}`)
            return;
          }
          response.json().then(function (data){
            console.log(data, 'quote_id')
          })
        })
      }
      </script>
    {% endblock script %} 
    {% endblock content %}

