<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Game of Quotes</title>
    <link
      href="{{url_for('static',filename='style.css')}}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="{{url_for('static',filename='/icons/game-of-thrones-favicon-16x16.ico')}}"
    />
  </head>

  <body>
    <header>
      <h1 id="title" onclick="location.href='/'">Game of Quotes</h1>
    </header>
    <main>
    {% with messages =  get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for message in messages %}
          {{message[1]}}
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock content %}
    <footer>
      Created using the
      <a href="https://gameofthronesquotes.xyz/">Game of Thrones quotes API</a> 
      {% if not current_user.is_authenticated %}
      <a href="{{url_for('login')}}">Login</a>  
      <a href="{{url_for('register')}}">Register</a>  
      {% else %}
      <a href="{{url_for('logout')}}">Logout {{current_user.username}}</a>  
      <a href="{{url_for('user_profile')}}">Profile/Favorites</a>  
      {% endif %}
      {% if current_user.access_level == 1 %}  
      <a href="{{url_for('admin_manage_users')}}">Users</a>  
      <a href="{{url_for('admin_add_quote')}}">Add A Quote</a>
      {% endif %}
    </footer>
  </body>
</html>
