
      {% extends "layout.j2" %}
      {% block content %}
      <div class="users-manage-box">
      {% for user in users %}
        <div class="user-box">
            <div class="field-item">Name: {{user.full_name}}</div>
            <div class="field-item">Username: {{user.username}}</div>
            <div class="field-item">Access Level: {{user.access_level_name.name}}</div>
            <button name='delete' id={{user.id}} type='button' onclick="location.href='/admin/delete-user/{{user.id}}'">Erase User</button>
        </div>
      {% endfor %}
      </div>
     
    </main>
    {% endblock content %}