
      {% extends "layout.j2" %}
      {% block content %}
      {% if user %}
        <div id="random-btn-title" class="instruction-title">
            Welcome, {{user.full_name}}!
        </div>
       <h3>Favorite Quotes</h3> 
      {% for quote in favorite_quotes %}
        <div class="users-manage-box">
        <div class="user-box">
            <div class="field-item">Character: {{quote[3]}}</div>
            <div class="field-item">Quote: {{quote[2]}}</div>
        </div>
        </div>
      {% endfor %}
      {% endif %}
        <div class="random-btn-container">
            <button id="random-btn" type="button" onclick="location.href='/'">
                Back to quote search.
                {# <i class="solid-dice-icon"></i> #}
            </button>
        </div> 
    </main>    
    {% endblock content %}